@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  /* --background: #171717;
  --foreground: #ffffffde; */

  --background: #E8EAEC;
  --foreground: #000000de;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, monospace;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-jaro: "Jaro", ui-sans-serif, system-ui, sans-serif;
  --color-primarypurple: #6F43FE;
  --color-primaryyellow: #F2B705;
  --color-primarygreen: #C3FF00;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ffffffde;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.md-editor {
  --md-color: var(--color-primarypurple) !important;
  --md-hover-color: blue !important;
  --md-bk-color: transparent !important;
  --md-border-color: var(--color-primarypurple) !important;
}

.md-editor-custom-scrollbar__track {
  background-color: var(--color-primarypurple) !important;
}
